@media (max-width: 1024px) {
    .mute {
        right: 20px;
    }

    .main_index {
        padding-left: 60px;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
    }
    .burger {
        background-color: transparent;
        background-image: url("../images/menu.svg");
        border: none;
        display: block;
        width: 20px;
        height: 12px;
    }

    .navigation {
        align-items: stretch;
        background-color: #260707;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        text-align: center;
        transform: translateX(-240px);
        transition: transform .3s ease;
        top: 0;
        bottom: 0;
        left: 0;
        width: 240px;
        padding-top: 90px;
    }

    .navigation_active {
        transform: translateX(0);
    }

    .navigation__list {
        flex-direction: column;
        gap: 6px;
        margin-right: 0;
        margin-bottom: 6px;
    }

    .navigation__link {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .header__hashtag {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .navigation__close {
        background-color: transparent;
        background-image: url("../images/close.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 16px;
        height: 16px;
    }

    .social {
        justify-content: center;
    }

    .main_index {
        padding-left: 30px;
    }

    .logo {
        width: 230px;
    }

    .footer {
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }
}

@media (max-width: 580px) {
    .main_index {
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(0.11deg, rgba(0, 0, 0, 0.76) 32.14%, rgba(255, 0, 0, 0) 72.56%), url("../images/bg-m.jpg");
        padding-bottom: 64px;
        padding-left: 0;
    }

    .logo {
        width: 125px;
    }

    .footer {
        font-size: 6px;
        height: 50px;
    }

    .pagination__arrow {
        margin-bottom: 6px;
    }

    .pagination {
        min-height: 80px;
    }
}